

<nav class="nav-area">
<ul class="menu" >
<li><a href="{% url 'tummyapp:home' %}">Home</a></li>
<li><a href="#">Purchase</a>
  <ul id="ser">
    <li><a href="{% url 'tummyapp:package_orders' %}">Package order</a>
            <ul>
            <li><a href="{% url 'tummyapp:package_order_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:package_product_purchases' %}">Package product purchases</a>
            <ul>
            <li><a href="{% url 'tummyapp:package_product_purchases_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:product_orders' %}">Product orders</a>
            <ul>
            <li><a href="{% url 'tummyapp:product_orders_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:product_purchases' %}">Product purchases</a>
            <ul>
            <li><a href="{% url 'tummyapp:product_purchases_form' %}">Add</a></li>
            </ul>
    </li>

    <li><a href="{% url 'tummyapp:slider_images' %}">Slider images</a>
            <ul>
            <li><a href="{% url 'tummyapp:slider_images_form' %}">Add</a></li>
            </ul>
    </li>
    
  </ul>


<li><a href="#">Services</a>
  <ul id="ser">
    <li><a href="{% url 'tummyapp:package_products' %}">Package products</a>
            <ul>
            <li><a href="{% url 'tummyapp:package_products_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:packages' %}">Packages</a>
            <ul>
            <li><a href="{% url 'tummyapp:packages_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:product_categorys' %}">Product categorys</a>
            <ul>
            <li><a href="{% url 'tummyapp:product_categorys_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:product_package_price_historys' %}">Product package price historys</a>
            <ul>
            <li><a href="{% url 'tummyapp:product_package_price_historys_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:product_price_historys' %}">Product price historys</a>
            <ul>
            <li><a href="{% url 'tummyapp:product_price_historys_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:products' %}">Products</a>
            <ul>
            <li><a href="{% url 'tummyapp:products_form' %}">Add</a></li>
            </ul>
    </li>
  </ul>


<li><a href="#">Useraccount</a>
  <ul id="ser">
    <li><a href="{% url 'tummyapp:blog_posts' %}">Blog posts</a>
            <ul>
            <li><a href="{% url 'tummyapp:blog_posts_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:email_otps' %}">Email otps </a>
            <ul>
            <li><a href="{% url 'tummyapp:email_otps_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:profiles' %}">Profiles</a>
            <ul>
            <li><a href="{% url 'tummyapp:profiles_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:user_notifications' %}">User notifications</a>
            <ul>
            <li><a href="{% url 'tummyapp:user_notifications_form' %}">Add</a></li>
            </ul>
    </li>
    <li><a href="{% url 'tummyapp:users' %}">Users</a>
            <ul>
            <li><a href="{% url 'tummyapp:users_form' %}">Add</a></li>
            </ul>
    </li>
  </ul>
        

</ul>
</nav>


